.about {
  text-align: center;
  padding: 20px;
  background-color: var(--about-bg);
  color: black;
}
.about h2 {
  color: black;
  margin-bottom: 10px;
}
.about__Title {
  margin-bottom: 40px;
  color: black;
}

@media screen and (min-width: 768px) {
  .aboutCard:nth-of-type(even) {
    flex-direction: row;
  }
}
