.aboutCard {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 20px;
  margin-bottom: 60px;
}
.aboutCard__Image {
  max-width: 500px;
  margin-top: 40px;
}
.aboutCard__Content p {
  margin: 20px 0px 50px;
}

@media screen and (min-width: 768px) {
  .aboutCard {
    flex-direction: row-reverse;
  }
  .aboutCard__Image {
    max-width: 700px;
    flex: 0.5;
  }
  .aboutCard__Content {
    flex: 0.5;
  }
  .aboutCard__Content p {
    /* text-align: justify; */
  }
}
