:root {
  --blue: #346af0;
  --black: rgb(18, 18, 18);
  --yellow: rgba(255, 255, 0, 1);
  /* --about-bg: rgba(10, 10, 10, 1);
  --about-bg: rgb(73, 71, 71); */
  --about-bg: rgb(209, 209, 73);
}
.app {
  background-color: var(--black);
  color: white;
}

h1 {
  font-size: 2.8rem;
  color: var(--yellow);
}

h2 {
  font-size: 2rem;
  color: var(--yellow);
}
