:root {
  --blue: #346af0;
  --black: rgb(18, 18, 18);
  --yellow: rgba(255, 255, 0, 1);
  --about-bg: rgb(209, 209, 73);
  --about-bg: #1f181f;
  --nav-bg: rgba(10, 10, 10, 1);
  --nav-bg: rgb(131, 128, 128);

  --nav-link: rgba(225, 225, 0, 0.8);
  --servicesCard-bg: rgba(18, 18, 18);
  --services-bg: #262626;
}
.app {
  background-color: var(--black);
  color: white;
}

h1 {
  font-size: 2.8rem;
  color: var(--yellow);
}

h2 {
  font-size: 2rem;
  color: var(--yellow);
}
.button {
  padding: 10px 50px;
  border-radius: 20px;
  text-align: center;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
