.download {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 5vw;
  background-color: var(--download-bg);
  color: white;
}

.download__Image {
  margin-top: 40px;
}
.download__Content {
  text-align: center;
}
.download__About {
  margin: 20px 0px;
  max-width: 700px;
}
.download__Links a img {
  margin-bottom: 10px;
  max-width: 200px;
  margin: 10px 20px;
}

@media screen and (min-width: 768px) {
  .download {
    flex-direction: row;
    /* margin: 20px; */
  }
}
