.download{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 5vw;

}

.download__Image{
    margin-top: 40px;
}
.download__Content{
text-align: center;
}
.download__About{
    margin: 20px 0px;
}
.download__Links a img{
    margin-bottom: 10px;
    max-width: 200px;
}

@media screen and (min-width:768px) {
    .download{
        flex-direction: row;
        margin: 20px;
    }
}

@media screen and (min-width:1440px) {
 
}