.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--nav-bg);
}

.nav__Logo {
  display: flex;
  align-items: center;
  height: 30px;
}

.nav__Text {
  margin-left: 10px;
}
.nav__Text span {
  font-weight: 700;
  color: #d3e721;
}
nav {
  padding: 30px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;

  backdrop-filter: blur(82px);
}
.nav__Close {
  float: right;
  margin-bottom: 10px;
  /* display: block;

    margin-inline: auto; */
}
nav ul {
  list-style: none;
  margin-top: 30px;
}

nav li {
  margin-top: 10px;
}
.nav__Auth {
  margin-top: 30px;
}
nav ul a {
  color: var(--nav-link);
}
.nav li a {
  font-size: 16px;
  line-height: 18.9px;
}

.remove {
  display: none;
}
.add {
  display: block;
}

@media screen and (min-width: 880px) {
  .nav__Right {
    display: flex;
    flex: 0.7;
    justify-content: space-between;
  }
  nav {
    position: relative;
    /* background-color: white; */
    height: auto;
    align-items: center;
    /* margin-inline: 30px; */
  }
  .nav__Logo {
    margin-left: 5vw;
    /* margin-right: 5vw; */
    flex: 0.3;
    /* width: max-content; */
    /* border: 1px solid; */
  }
  .nav__Auth {
    margin-left: 5vw;
    min-width: max-content;
    font-size: 16px;
    align-items: center;
  }
  .nav__Auth li:nth-child(2) {
    color: #f53833;
    border: 1px solid #f53833;
    border-radius: 50px;
    padding: 13px 45px;
  }
  .nav__Hamburger,
  .nav__Close {
    display: none;
  }
  .nav ul {
    display: flex;
    list-style: none;
    margin-top: 0px;
    min-width: max-content;
  }

  .nav li {
    margin-right: 30px;
    margin-top: 0px;
  }
  .nav li a {
    color: var(--nav-link);
  }
  .nav {
    align-items: center;
    padding: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .nav li {
    margin-right: 60px;
  }
  .nav__Auth li:nth-child(2) {
    margin-left: -10px;
  }
}
