.servicesCard {
  background-color: var(--servicesCard-bg);
  width: 90vw;
  max-width: 650px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 20px 10px;
  border-radius: 10px;
}
.servicesCard img {
  width: 80%;
  height: 140px;
  margin: 0px auto 10px;
}
.servicesCard h3 {
  text-align: center;
  font-weight: 800;
}
.servicesCard p {
  margin: 10px 0px 20px;
  height: 300px;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .servicesCard {
    max-width: 300px;
  }
}
