.servicesCard {
  background-color: var(--serviceCard-bg);
  background-color: violet;
  width: 90vw;
  max-width: 650px;
  height: 300px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.servicesCard img {
  width: 100px;
}
.servicesCard p {
  margin: 10px 0px 20px;
  height: 150px;
}

@media screen and (min-width: 640px) {
  .servicesCard {
    max-width: 300px;
  }
}
